<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <h1>Авторизация</h1>
        <% if (message) { %>
            <p style="color: red;"><%= message %></p>
        <% } %>
        <form action="/auth" method="post">
            <label for="username">Логин:</label>
            <input class="inputs" type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input class="inputs" type="password" id="password" name="password" required>
            <button class="authregbutton" type="submit">Войти</button>
        </form>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>