<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <p>© 2025 ОДО "Панда"</p>
        </div>
        <div class="footer-social">
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>