<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="indexbody">
    <%- include('header.ejs') %>
    <main>
        <a href="/catalog"><button class="catalogbutton">Перейти в каталог</button></a>
    </main>
</body>
</html>